// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as AlphaSDK from "../../../index.js";

export declare namespace CamerasClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CamerasClient {
    protected readonly _options: NormalizedClientOptions<CamerasClient.Options>;

    constructor(options: CamerasClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Enumerate all cameras connected via USB and network.
     *
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     * @throws {@link AlphaSDK.InternalServerError}
     *
     * @example
     *     await client.cameras.list()
     */
    public list(requestOptions?: CamerasClient.RequestOptions): core.HttpResponsePromise<AlphaSDK.CameraListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.CameraListResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                "api/cameras",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CameraListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 500:
                    throw new AlphaSDK.InternalServerError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/cameras");
    }

    /**
     * Returns the current connection state for a camera (connected/disconnected,
     * model, id). When connected, `data.mode` reports the active SDK
     * connection mode (`remote` / `remote-transfer` / `contents`).
     *
     * @param {AlphaSDK.GetConnectionStatusCamerasRequest} request
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.NotFoundError}
     *
     * @example
     *     await client.cameras.getConnectionStatus({
     *         cameraId: "cameraId"
     *     })
     */
    public getConnectionStatus(
        request: AlphaSDK.GetConnectionStatusCamerasRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.ConnectionStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getConnectionStatus(request, requestOptions));
    }

    private async __getConnectionStatus(
        request: AlphaSDK.GetConnectionStatusCamerasRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.ConnectionStatusResponse>> {
        const { cameraId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/connection`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ConnectionStatusResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AlphaSDK.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/cameras/{cameraId}/connection",
        );
    }

    /**
     * Establish connection in the specified mode. Defaults to `remote` if no mode provided.
     *
     * @param {AlphaSDK.ConnectionRequest} request
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     *
     * @example
     *     await client.cameras.connect({
     *         cameraId: "cameraId"
     *     })
     */
    public connect(
        request: AlphaSDK.ConnectionRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.CameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__connect(request, requestOptions));
    }

    private async __connect(
        request: AlphaSDK.ConnectionRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.CameraResponse>> {
        const { cameraId, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/connection`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.ConnectionRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CameraResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/cameras/{cameraId}/connection",
        );
    }

    /**
     * Cleanly disconnects from the specified camera. Server emits a synthetic
     * `disconnected` SSE event before clearing internal callbacks.
     *
     * @param {AlphaSDK.DisconnectCamerasRequest} request
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     * @throws {@link AlphaSDK.NotFoundError}
     *
     * @example
     *     await client.cameras.disconnect({
     *         cameraId: "cameraId"
     *     })
     */
    public disconnect(
        request: AlphaSDK.DisconnectCamerasRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.CameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__disconnect(request, requestOptions));
    }

    private async __disconnect(
        request: AlphaSDK.DisconnectCamerasRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.CameraResponse>> {
        const { cameraId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/connection`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CameraResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new AlphaSDK.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/cameras/{cameraId}/connection",
        );
    }
}
