// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as AlphaSDK from "../../../index.js";

export declare namespace SdCardClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * SD card file browsing and download
 */
export class SdCardClient {
    protected readonly _options: NormalizedClientOptions<SdCardClient.Options>;

    constructor(options: SdCardClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List files on the SD card. Requires `remote-transfer` or `contents` mode.
     * Returns 400 if called in `remote` mode.
     *
     * @param {AlphaSDK.ListSdCardRequest} request
     * @param {SdCardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     * @throws {@link AlphaSDK.NotFoundError}
     *
     * @example
     *     await client.sdCard.list({
     *         cameraId: "cameraId",
     *         slotNumber: 1
     *     })
     */
    public list(
        request: AlphaSDK.ListSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.SdCardFileListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: AlphaSDK.ListSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.SdCardFileListResponse>> {
        const { cameraId, slotNumber } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/sd-card/slot/${core.url.encodePathParam(slotNumber)}/files`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.SdCardFileListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new AlphaSDK.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/cameras/{cameraId}/sd-card/slot/{slotNumber}/files",
        );
    }

    /**
     * Initiates an async download of a specific file from the SD card to the host PC.
     * Returns immediately; completion is signaled via the `downloadComplete` SSE event
     * (remote/remote-transfer modes) or via filesystem polling (contents-transfer mode).
     *
     * @param {AlphaSDK.DownloadSdCardRequest} request
     * @param {SdCardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     * @throws {@link AlphaSDK.NotFoundError}
     *
     * @example
     *     await client.sdCard.download({
     *         cameraId: "cameraId",
     *         slotNumber: 1,
     *         contentId: 1,
     *         fileId: 1,
     *         body: {}
     *     })
     */
    public download(
        request: AlphaSDK.DownloadSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.AsyncOperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__download(request, requestOptions));
    }

    private async __download(
        request: AlphaSDK.DownloadSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.AsyncOperationResponse>> {
        const { cameraId, slotNumber, contentId, fileId, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/sd-card/slot/${core.url.encodePathParam(slotNumber)}/files/${core.url.encodePathParam(contentId)}/${core.url.encodePathParam(fileId)}/download`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.SdCardDownloadRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AsyncOperationResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new AlphaSDK.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/cameras/{cameraId}/sd-card/slot/{slotNumber}/files/{contentId}/{fileId}/download",
        );
    }

    /**
     * Initiates an async download of the file's thumbnail (small JPEG preview).
     * Used for fast file browser previews. Remote-transfer mode only.
     *
     * @param {AlphaSDK.DownloadThumbnailSdCardRequest} request
     * @param {SdCardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     * @throws {@link AlphaSDK.NotFoundError}
     *
     * @example
     *     await client.sdCard.downloadThumbnail({
     *         cameraId: "cameraId",
     *         slotNumber: 1,
     *         contentId: 1,
     *         fileId: 1,
     *         body: {}
     *     })
     */
    public downloadThumbnail(
        request: AlphaSDK.DownloadThumbnailSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.CompressedDownloadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadThumbnail(request, requestOptions));
    }

    private async __downloadThumbnail(
        request: AlphaSDK.DownloadThumbnailSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.CompressedDownloadResponse>> {
        const { cameraId, slotNumber, contentId, fileId, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/sd-card/slot/${core.url.encodePathParam(slotNumber)}/files/${core.url.encodePathParam(contentId)}/${core.url.encodePathParam(fileId)}/thumbnail`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.SdCardDownloadRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CompressedDownloadResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new AlphaSDK.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/cameras/{cameraId}/sd-card/slot/{slotNumber}/files/{contentId}/{fileId}/thumbnail",
        );
    }

    /**
     * Initiates an async download of the file's screennail (medium JPEG preview,
     * larger than thumbnail). Useful for ML evaluation and quality previews.
     * Remote-transfer mode only.
     *
     * @param {AlphaSDK.DownloadScreennailSdCardRequest} request
     * @param {SdCardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     * @throws {@link AlphaSDK.NotFoundError}
     *
     * @example
     *     await client.sdCard.downloadScreennail({
     *         cameraId: "cameraId",
     *         slotNumber: 1,
     *         contentId: 1,
     *         fileId: 1,
     *         body: {}
     *     })
     */
    public downloadScreennail(
        request: AlphaSDK.DownloadScreennailSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.CompressedDownloadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadScreennail(request, requestOptions));
    }

    private async __downloadScreennail(
        request: AlphaSDK.DownloadScreennailSdCardRequest,
        requestOptions?: SdCardClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.CompressedDownloadResponse>> {
        const { cameraId, slotNumber, contentId, fileId, body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/sd-card/slot/${core.url.encodePathParam(slotNumber)}/files/${core.url.encodePathParam(contentId)}/${core.url.encodePathParam(fileId)}/screennail`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.SdCardDownloadRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CompressedDownloadResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new AlphaSDK.NotFoundError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/cameras/{cameraId}/sd-card/slot/{slotNumber}/files/{contentId}/{fileId}/screennail",
        );
    }
}
