// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as AlphaSDK from "../../../index.js";

export declare namespace PropertiesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Read and write camera properties (ISO, aperture, shutter speed, etc.)
 */
export class PropertiesClient {
    protected readonly _options: NormalizedClientOptions<PropertiesClient.Options>;

    constructor(options: PropertiesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the current value, human-readable format, writability flag, and all
     * values the camera currently accepts for this property.
     *
     * @param {AlphaSDK.GetPropertiesRequest} request
     * @param {PropertiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     *
     * @example
     *     await client.properties.get({
     *         cameraId: "cameraId",
     *         propertyName: "priority-key"
     *     })
     */
    public get(
        request: AlphaSDK.GetPropertiesRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.GetPropertyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: AlphaSDK.GetPropertiesRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.GetPropertyResponse>> {
        const { cameraId, propertyName } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/properties/${core.url.encodePathParam(serializers.PropertyName.jsonOrThrow(propertyName, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetPropertyResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/cameras/{cameraId}/properties/{propertyName}",
        );
    }

    /**
     * Set a camera property value. Accepts hex values (from GET response `available_values`)
     * or human-readable strings (e.g. `"f/5.6"`, `"1/250"`, `"wide"`).
     *
     * The server validates against the camera's current available values and checks
     * writability before sending to the SDK.
     *
     * @param {AlphaSDK.PropertySetRequest} request
     * @param {PropertiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     *
     * @example
     *     await client.properties.set({
     *         cameraId: "cameraId",
     *         propertyName: "priority-key",
     *         value: "value"
     *     })
     */
    public set(
        request: AlphaSDK.PropertySetRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.CameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__set(request, requestOptions));
    }

    private async __set(
        request: AlphaSDK.PropertySetRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.CameraResponse>> {
        const { cameraId, propertyName, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/properties/${core.url.encodePathParam(serializers.PropertyName.jsonOrThrow(propertyName, { omitUndefined: true }))}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.PropertySetRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CameraResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/cameras/{cameraId}/properties/{propertyName}",
        );
    }

    /**
     * Returns every property the camera currently reports, deduplicated by name
     * (the SDK occasionally returns multiple internal entries for the same
     * property — the server picks the entry that has values or is writable).
     *
     * ## Important: response shape differs from single-property GET
     *
     * The per-property entries here use a DIFFERENT shape than
     * `getProperty` — see `BulkPropertyEntry` vs `PropertyData`. Highlights:
     *
     * - Field names: `current_value` / `current_hex_value` / `current_formatted`
     *   instead of `value` / `formatted`
     * - `writable` is a real boolean here (not the stringified `"true"`/`"false"`
     *   you get from single GET)
     * - `available_values` entries carry both numeric `value` and `hex_value`
     *
     * Use this endpoint for "load everything once" UI flows. Use single GET
     * when you need just one property and want the consistent setter format.
     *
     * @param {AlphaSDK.GetAllPropertiesRequest} request
     * @param {PropertiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     *
     * @example
     *     await client.properties.getAll({
     *         cameraId: "cameraId"
     *     })
     */
    public getAll(
        request: AlphaSDK.GetAllPropertiesRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.GetAllPropertiesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAll(request, requestOptions));
    }

    private async __getAll(
        request: AlphaSDK.GetAllPropertiesRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.GetAllPropertiesResponse>> {
        const { cameraId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/properties/all`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetAllPropertiesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/cameras/{cameraId}/properties/all",
        );
    }

    /**
     * Returns the current priority key setting (`pc-remote` or `camera-position`).
     *
     * **Note**: FX3 / cinema bodies do not implement `PriorityKeySettings` —
     * GET returns empty data and SET returns SDK error `0x8402`. These bodies
     * auto-enter PC Remote mode on USB.
     *
     * @param {AlphaSDK.GetPriorityKeyPropertiesRequest} request
     * @param {PropertiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     *
     * @example
     *     await client.properties.getPriorityKey({
     *         cameraId: "cameraId"
     *     })
     */
    public getPriorityKey(
        request: AlphaSDK.GetPriorityKeyPropertiesRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.GetPriorityKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPriorityKey(request, requestOptions));
    }

    private async __getPriorityKey(
        request: AlphaSDK.GetPriorityKeyPropertiesRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.GetPriorityKeyResponse>> {
        const { cameraId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/priority-key`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetPriorityKeyResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/cameras/{cameraId}/priority-key",
        );
    }

    /**
     * Set the priority key. Must be `pc-remote` for the camera to accept remote
     * property changes and shooting commands. Not supported on FX3 / cinema
     * bodies (returns 400).
     *
     * @param {AlphaSDK.SetPriorityKeyRequest} request
     * @param {PropertiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AlphaSDK.BadRequestError}
     *
     * @example
     *     await client.properties.setPriorityKey({
     *         cameraId: "cameraId",
     *         setting: "pc-remote"
     *     })
     */
    public setPriorityKey(
        request: AlphaSDK.SetPriorityKeyRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): core.HttpResponsePromise<AlphaSDK.CameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setPriorityKey(request, requestOptions));
    }

    private async __setPriorityKey(
        request: AlphaSDK.SetPriorityKeyRequest,
        requestOptions?: PropertiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AlphaSDK.CameraResponse>> {
        const { cameraId, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AlphaSDKEnvironment.Default,
                `api/cameras/${core.url.encodePathParam(cameraId)}/priority-key`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.SetPriorityKeyRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CameraResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AlphaSDK.BadRequestError(
                        serializers.ErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AlphaSDKError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/cameras/{cameraId}/priority-key",
        );
    }
}
